/* Utopian font sizing algorithm approximating what we're currently using. The tuple above each line
 * shows the font size to expect at the minimum (i.e. phone) and maximum (big desktop) sizes.
 *
 * @link https://utopia.fyi/type/calculator?c=320,12,1.125,1240,16,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
 *
 */

:root {
    /* (9.48, 11.11) */
    --ak-font-size--2: clamp(0.59rem, calc(0.56rem + 0.18vw), 0.69rem);
    /* (21.62, 39.81) */
    --ak-font-size--1: clamp(0.67rem, calc(0.61rem + 0.29vw), 0.83rem);
    /* (10.67, 13.33 ) */
    --ak-font-size-0: clamp(0.75rem, calc(0.66rem + 0.43vw), 1rem);
    /* (12.00, 16.00 ) */
    --ak-font-size-1: clamp(0.84rem, calc(0.72rem + 0.62vw), 1.2rem);
    /* (13.50, 19.20 ) */
    --ak-font-size-2: clamp(0.95rem, calc(0.78rem + 0.85vw), 1.44rem);
    /* (15.19, 23.04 ) */
    --ak-font-size-3: clamp(1.07rem, calc(0.84rem + 1.15vw), 1.73rem);
    /* (17.09, 27.65 ) */
    --ak-font-size-4: clamp(1.2rem, calc(0.9rem + 1.52vw), 2.07rem);
    /* (19.22, 33.18 ) */
    --ak-font-size-5: clamp(1.35rem, calc(0.96rem + 1.98vw), 2.49rem);
}

/* Utopian spacing algorithm approximating what we're currently using. The tuple above each line
 * shows the amount of space to expect at the minimum (i.e. phone) and maximum (big desktop) sizes
 *
 * @link https://utopia.fyi/space/calculator?c=320,12,1.125,1240,16,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
 *
 */

:root {
    /* (2px, 2px) */
    --ak-spacing-4xs: clamp(0.13rem, calc(0.13rem + 0vw), 0.13rem);
    /* (3px, 4px) */
    --ak-spacing-3xs: clamp(0.19rem, calc(0.17rem + 0.11vw), 0.25rem);
    /* (6px, 8px) */
    --ak-spacing-2xs: clamp(0.38rem, calc(0.33rem + 0.22vw), 0.5rem);
    /* (9px, 12px) */
    --ak-spacing-xs: clamp(0.56rem, calc(0.5rem + 0.33vw), 0.75rem);
    /* (12px, 16px) */
    --ak-spacing-s: clamp(0.75rem, calc(0.66rem + 0.43vw), 1rem);
    /* (18px, 24px) */
    --ak-spacing-m: clamp(1.13rem, calc(0.99rem + 0.65vw), 1.5rem);
    /* (24px, 32px) */
    --ak-spacing-l: clamp(1.5rem, calc(1.33rem + 0.87vw), 2rem);
    /* (36px, 48px) */
    --ak-spacing-xl: clamp(2.25rem, calc(1.99rem + 1.3vw), 3rem);
    /* (48px, 64px) */
    --ak-spacing-2xl: clamp(3rem, calc(2.65rem + 1.74vw), 4rem);
}

:root {
    --ak-accent: #fd4b2d;
    --ak-dark-foreground: #fafafa;
    --ak-dark-foreground-darker: #bebebe;
    --ak-dark-foreground-link: #5a5cb9;
    --ak-dark-background: #18191a;
    --ak-dark-background-darker: #000000;
    --ak-dark-background-light: #1c1e21;
    --ak-dark-background-light-ish: #212427;
    --ak-dark-background-lighter: #2b2e33;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--ak-accent);
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

html {
    --pf-c-nav__link--PaddingTop: 0.5rem;
    --pf-c-nav__link--PaddingRight: 0.5rem;
    --pf-c-nav__link--PaddingBottom: 0.5rem;
    --pf-c-nav__link--PaddingLeft: 0.5rem;
}

html > form > input {
    position: absolute;
    top: -2000px;
    left: -2000px;
}

.pf-icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
}

.pf-c-page__header {
    z-index: 0;
    background-color: var(--ak-dark-background-light);
    box-shadow: var(--pf-global--BoxShadow--lg-bottom);
}

/*****************************
* Login adjustments
*****************************/
/* Ensure card is displayed on small screens */
.pf-c-login__main {
    display: block;
    position: relative;
    width: 100%;
}
.ak-login-container {
    height: calc(100vh - var(--pf-global--spacer--lg) - var(--pf-global--spacer--lg));
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pf-c-login__header {
    flex-grow: 1;
}
.pf-c-login__footer {
    flex-grow: 2;
}
.pf-c-login__footer ul.pf-c-list.pf-m-inline {
    justify-content: center;
}
/*****************************
* End Login adjustments
*****************************/

.pf-c-content h1 {
    display: flex;
    align-items: flex-start;
}
.pf-c-content h1 i {
    font-style: normal;
}
.pf-c-content h1 :first-child {
    margin-right: var(--pf-global--spacer--sm);
}

/* ensure background on non-flow pages match */
.pf-c-background-image::before {
    background-image: var(--ak-flow-background);
    background-position: center;
}

.pf-m-success {
    color: var(--pf-global--success-color--100) !important;
}
.pf-m-warning {
    color: var(--pf-global--warning-color--100);
}
.pf-m-danger {
    color: var(--pf-global--danger-color--100);
}

.form-help-text {
    color: var(--pf-global--Color--100);
}

.pf-c-description-list__description .pf-c-button {
    margin-right: 6px;
    margin-bottom: 6px;
}

.pf-c-data-list__item {
    background-color: transparent;
}
